# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\97250\Desktop\לימודים\מדמח\סמסטר א\67101 Intro to Computer Science - מבוא למדעי המחשב\Excercises\exercise6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
